
@{
    ViewData["Title"] = "_NotFoundPartial";
}
  
﻿<div class="row">
    <div class="col-md-6 offset-3">
       <p>The specified person was not found or is missing required information.</p> 
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index" asp-area="">Home Page</a>
    </div>
</div>